.titleWrap {
	position: fixed;
	top: 0;
	display: flex;
	width: 100%;
	height: 60px;
	overflow-x: scroll;
	background-color: #FFF;
}

.xxx {
	display: flex;
	width: 100%;
	height: 100%;
}

.titleWrap::-webkit-scrollbar {
    display: none;
}

.titleContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
	width: 50px;
	margin: 0 20px;
}

.titleContainer img {
	width: 50px;
	height: 50px;
}

.activeLine {
	width: 30px;
	height: 2px;
	background-color: red;
}
